path/to/large-file.ext filter=lfs diff=lfs merge=lfs -text
D:/eyeDiseasesMobileApp/assets/accuracy_8871.h5 filter=lfs diff=lfs merge=lfs -text
assets/accuracy_8871.h5 filter=lfs diff=lfs merge=lfs -text
